@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject Common.Configuration Configuration

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        @* Left these empty - at this time I don't want messages *@
    </LoggingIn>
    <CompletingLoggingIn>
        @* Left these empty - at this time I don't want messages *@
    </CompletingLoggingIn>
    <CompletingLogOut>
        @* Left these empty - at this time I don't want messages *@
    </CompletingLogOut>
    <UserProfile>
        @* Left these empty - at this time I don't want messages *@
    </UserProfile>
    <Registering>
        @* Left these empty - at this time I don't want messages *@
    </Registering>
    <LogOutSucceeded>
        @* Left these empty - at this time I don't want messages *@
    </LogOutSucceeded>
    <LogInFailed>
        <div class="row mt-5">
            <div class="col-lg-3 mx-auto">
                <h4 class="text-center">Operation Cancelled</h4>
            </div>
        </div>
    </LogInFailed>
    <LogOut>
        @* Left these empty - at this time I don't want messages *@
    </LogOut>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
