.required-astrisk {
    color: red;
    font-weight: bold;
}
label {
    font-weight: 500;
}

@media (max-width: 767.98px) {
    .btn-customer {
        width: 100%;
    }
}

.profile-image {
    max-width: 100%;
    max-height: 400px;
}