@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@inject BlazorDemoCRUD.Client.Services.API API
@inject IModalService _modalService

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <h3 class="text-center">You Are Signed In</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <input type="button" class="btn btn-primary w-100" value="Create Seed Customers" @onclick="SeedDB" />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
<div class="row mt-5">
    <div class="col-lg-4 offset-md-4">
        <p class="app-desc text-center">
            For documentation, see the Readme at GitHub.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 mx-auto">
        <a class="btn btn-lg btn-outline-primary w-100" href="https://github.com/dahln/BlazorDemoCRUD" target="_blank">View Template Code at Github</a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-3 mx-auto">
        <p class="text-center">
            <a href="terms">License &amp; Terms</a>
        </p>
    </div>
</div>

@code {

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    private async Task SeedDB()
    {
        await API.SeedDB(100);
    }
}

