<div class="row">
    <div class="col-md-12">
        <ul class="list-inline">
            <li class="list-inline-item">
                <input type="button" class="btn btn-danger dialog-btn" value="Yes" @onclick="Confirm" />
            </li>
            <li class="list-inline-item">
                <input type="button" class="btn btn-outline-primary dialog-btn" value="Cancel" @onclick="Cancel" />
            </li>
        </ul>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    public void Confirm()
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(string.Empty));
    }

    public void Cancel()
    {
        BlazoredModal.CancelAsync();
    }
}
