@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<Spinner></Spinner>

<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="8"
                ShowProgressBar="true" />

<TopNavigation />

<div class="mt-3 mb-5 px-4">
    @Body
</div>