@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Blazored.Toast.Configuration
@inject NavigationManager Navigation
@inject IJSRuntime JS

@inherits LayoutComponentBase

<Spinner></Spinner>

<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="8"
                ShowProgressBar="true" />

<TopNavigation />

<div class="mx-3 my-3">
    @Body
</div>
