@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject BlazorTemplate.App.Services.API API

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ps-1" href="/">
            BlazorTemplate
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-md-auto my-2 my-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="customers"><i class="bi bi-search search-icon me-2"></i>Search</a>
                        </li>
                        @if (context.User.IsInRole("Administrator"))
                        {
                        <li class="nav-item">
                            <a class="nav-link" href="admin"><i class="bi bi-gear admin-icon me-2"></i>Admin</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="account"><i class="bi bi-person-gear user-icon me-2"></i>@context.User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a href="logout" class="nav-link"><i class="bi bi-box-arrow-right signout-icon me-1"></i>Log out</a>
                        </li>
                    </Authorized>
                    <NotAuthorized>

                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>


@code{

    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateTo("/logout");
    }
}


