.search-found {
    font-weight: 100;
}
label {
    font-weight: 500;
}
.green {
    color: green;
}
.red {
    color: red;
}
.pointer {
    cursor: pointer;
}

.list-email {
    margin-top: 5px;
    font-weight: 100;
}