@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Hello, world!</h1>
        <p class="text-center">
            I am the Blazor Template 
        </p>

        <div class="row">
            <div class="col-md-4 mx-auto text-center">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://github.com/dahln/BlazorTemplate" target="_black">Submit problems, questions, or request as 'Issues' via GitHub.</a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://github.com/sponsors/dahln" target="_black">If you found this template helpful, please consider supporting this project by donating.</a>
                    </li>
                    <li class="list-group-item">
                        <a href="terms">Terms of Use & Template License</a>
                    </li>
                    <li class="list-group-item">
                        <a href="swagger"><strong>API via Swagger</strong></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


