@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Hello, world!</h1>
        <p class="text-center">
            I am the Blazor Template 
        </p>
        <p class="text-center">
            <a href="https://github.com/dahln/BlazorTemplate" target="_black">Submit problems, questions, or request as 'Issues' via GitHub.</a>
        </p>

        <p class="text-center">
            <a href="https://github.com/sponsors/dahln" target="_black">If you found this template helpful, please consider supporting this project by donating.</a>
        </p>

        
    </div>
</div>


