@page "/register"
@using BlazorTemplate.Identity

@inject IAccountManagement Acct
@inject NavigationManager _navigationManager
@inject IToastService _toastService

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You are logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Register</h2>
                    </div>
                    <div class="card-body">
                        @if (errors)
                        {
                            @foreach (var error in errorList)
                            {
                                <div class="alert alert-danger">@error</div>
                            }
                        }
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <label for="email">
                                    Email:
                                </label>
                                <input autofocus autocomplete="on" required id="email" name="emailInput" placeholder="Enter your email address" type="email" @bind-value="email" class="form-control" />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <label for="password">
                                    Password:
                                </label>
                                <input required id="password" name="passwordInput" placeholder="Enter your password" type="password" @bind-value="password" class="form-control" />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <label for="confirmPassword">
                                    Retype password:
                                </label>
                                <input required id="confirmPassword" name="confirmPasswordInput" placeholder="Re-enter your password" type="password" @bind-value="confirmPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <button @onclick="DoRegisterAsync" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <a href="/"><strong>Have an account? Sign in here.</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool success, errors;
    private string email = string.Empty;
    private string password = string.Empty;
    private string confirmPassword = string.Empty;
    private List<string> errorList { get; set; } = new List<string>();

    public async Task DoRegisterAsync()
    {
        success = errors = false;
        errorList = [];

        if (string.IsNullOrWhiteSpace(email))
        {
            errors = true;
            errorList = ["Email is required."];
            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = true;
            errorList = ["Password is required."];
            return;
        }

        if (string.IsNullOrWhiteSpace(confirmPassword))
        {
            errors = true;
            errorList = ["Please confirm your password."];
            return;
        }

        if (password != confirmPassword)
        {
            errors = true;
            errorList = ["Passwords don't match."];
            return;
        }

        var result = await Acct.RegisterAsync(email!, password!);

        if (result.Succeeded)
        {
            success = true;
            email = password = confirmPassword = string.Empty;
            _toastService.ShowSuccess("Registration Successful. Please Sign In.");
            _navigationManager.NavigateTo("/");
        }
        else
        {
            errors = true;
            errorList = result.ErrorList;
        }
    }
}



